.progress-outline {
  background-color: rgba(213, 213, 213, 0.55);
  border-radius: 4px;
  height: 60px;
  display: flex;
  position: relative;

  span {
    font-size: 1.5vw;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 16px;
  }
}

.progress-bar {
  background-color: #337ab7;
  height: 60px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 50%;
  box-shadow: 2px 0 0 0 rgb(0, 0, 0);
}
